In [2]:
import openai
import pandas as pd

In [49]:
filepath = r"C:\Users\shubh\Downloads\generated_responses.csv"
df = pd.read_csv(filepath)
# df.drop(columns='Unnamed:4', inplace=True)
df['Train'] = df.interaction + ' , ' + df.discipline + ' , ' + df['issue'] + ' , ' + df['message']
df.head()

,interaction,discipline,issue,message,Unnamed: 4,Train
0,Complaint,Generic,Others,We are shocked to learn of this extremely dist...,NaN,"Complaint , Generic , Others , We are shocked ..."
1,Complaint,Generic,Others,We are shocked to learn of this extremely dist...,NaN,"Complaint , Generic , Others , We are shocked ..."
2,Complaint,Generic,Others,We are shocked to learn of this extremely dist...,NaN,"Complaint , Generic , Others , We are shocked ..."
3,Complaint,Generic,Others,We are shocked to learn of this extremely dist...,NaN,"Complaint , Generic , Others , We are shocked ..."
4,Complaint,Generic,Others,We are shocked to learn of this extremely dist...,NaN,"Complaint , Generic , Others , We are shocked ..."

In [46]:
filepath1 = r"C:\Users\shubh\Downloads\Simplify Data Dec'22.xlsx"
df1 = pd.read_excel(filepath1)
df1.drop(columns=['Message Source', 'Action', 'CRM TicketID', 'Zendesk Ticket ID', 'Engagement Type', 'Junk/Irrelevant(Response)'], inplace=True)
# df1.to_csv(r"C:\Users\shubh\Downloads\Simplify Data Dec 22.csv")
df1.describe()

            Brand Name Message Sentiment
count             1622    1622      1622
unique              21    1370         3
top     Stationery ITC           Neutral
freq               680      41       753

In [15]:
filepath2 = r"C:\Users\shubh\Downloads\ITC Brands_Complete List.xlsx"
df2 = pd.read_excel(filepath2)
df2.head()

   Unnamed: 0       Unnamed: 1
0         NaN              NaN
1  Row Labels  Count of Brand
2  Aashirvaad               55
3         AIM                5
4   B NATURAL               12

In [25]:

filepath3 = r"C:\Users\shubh\Downloads\ARG Classification.xlsx"
df3 = pd.read_excel(filepath3)
df3.

          Business Interaction  Discipline                       Issue
count          120          120         120                         120
unique           1            2          13                         119
top     ITC Foods    Complaint     Product   Empty Wrapper_Dark Fantasy
freq           120           90          68                           2

In [26]:
df3.head()

     Business Interaction    Discipline                            Issue
0  ITC Foods    Complaint   Advertising               Advertising Related
1  ITC Foods    Complaint       Product             Airout Packs_Jelimals
2  ITC Foods    Complaint       Product               Airout Packs_Snacks
3  ITC Foods    Complaint       Product         Broken / Crushed_Biscuits
4  ITC Foods    Complaint       Product   Broken / Crushed_Snacks / Chips

In [35]:
import pandas as pd
import numpy as np

filepath = r"D:\Work\Hiring Assignments\Customer Shastra\Jan'23 YEARG! Used.csv"
df = pd.read_csv(filepath)
DropCols = []
idx = []
# df.drop(columns=['messageID', 'Message Source', 'Profile Pic', 'Profile Link', 'Bio', 'Title', 'Post Image', 'Post Name'], inplace=True)
# df.drop(columns=['Average Rating', 'Total views', 'Post Caption', 'Post Description', 'Country', 'State', 'City', 'Gender', 'Following', 'Followers', 'Favourites'], inplace=True)
# df.head()
FeatureList = ['Message', 'Work Message', 'Sentiment', 'Channel Name', 'From' ]
for col in df.columns.to_list():
    if col in FeatureList:
        pass
    else:
        DropCols.append(col)
df.drop(columns=DropCols, inplace=True)
for i in range(len(df)):
    if len(str(df.iloc[i]['Work Message'])) < 2 :
        idx.append(i)
df.drop(index=idx, inplace=True)
df.dropna(inplace=True) 
df.to_csv(r"D:\Work\Hiring Assignments\Customer Shastra\Cleaned Data.csv")

In [36]:
filepath = r"D:\Work\Hiring Assignments\Customer Shastra\Cleaned Data.csv"
df = pd.read_csv(filepath)
df.head()

,Unnamed: 0,From,Message,Sentiment,Work Message,Channel Name
0,1,Manisha Pradhan,Provide me your importer company contact numbe...,Negative,Hello Manisha! Thank you for writing to us. Pl...,Sunfeast Dark Fantasy
1,2,@VaibhavChonkar,Good day...🚲🚲🚲🚲 We have planned to organise CC...,Positive,"Hi Vaibhav, it's nice to hear from you. Our co...",SDarkFantasy
2,3,cuteboy_rivansh13722,Wanna to collab with your product and can make...,Positive,"Hi Rivansh, thank you for your interest in col...",sunfeastdarkfantasy
3,4,mera.meme.aayega_,"Hi Team Dark Fantasy ❤️, We have a meme page @...",Positive,Hi! Thank you for your interest in collaborati...,sunfeastdarkfantasy
4,7,Bubai Maji,Sunfeast Dark Fantasy no only contact no..,Neutral,"Hi Bubai, it was a pleasure to speak with you....",Sunfeast Dark Fantasy